# Days 1-
# ✅ oops concept-
   - OOPS = Object Oriented Programming System
   - Here everything is based on object that it is known as object orientend programming
   - To solve the real time problem oop concept is used.
   - (It is a programming style that uses objects and classes to structure code.)

- Why OOPS?
         - Code reusability
         - Easy to maintain
         - Makes real-world modeling possible
         - Reduces complexity



- ⭐ 1 Class-
          - class is a blueprint which contains the attributes and behaviour of an objects.
          - (A Class is a blueprint/template to create objects.)
          - class is a container where we can store the data and can access it. 

- ⭐ 2. Object-
          - It is a real time entity which have some attributes and properties.
          - (Object is the instance of a class.)    
          - It is an instance of class.
          - Object always belongs to a class.
          - We can create n number of object for a single class.

In [ ]:
# syntax---
class Class_name:
    staes/Attributes
    behaviour/functionlaties
obj = Class_name(arg)

In [ ]:
#Example 

class Demo:
    pass
obj1 = Demo()
obj2 = Demo()
print(type(obj1))
print(type(obj2))

<class '__main__.Demo'>
<class '__main__.Demo'>

In [ ]:
#Example 

class Demo:
    pass
class Main:
    pass
obj1 = Demo()
obj2 = Main()

print(type(obj1))
print(type(obj2))

<class '__main__.Demo'>
<class '__main__.Main'>

In [ ]:
# ✔ Example:

class Student:
    pass

In [ ]:
#Example 

class Student:          # class
    def __init__(self, name):
        self.name = name

s1 = Student("Ankit")   # object
print(s1.name)

Ankit

In [15]:
#Example 

class Person:
    def say_hello(self):
        print("Hello, I am a Person")

p = Person()       # object
p.say_hello()

Hello, I am a Person

There are two types of class
1) Inbuilt class--  int,float(Data types)
2) user defined class

- 1) What is oops
- 2) What is the need or use of oops.
- 3) What is an objects.
- 4) How many objects we can create for a single class 
- 5) How to define a class

In [1]:
class demo:
    a=10
    b=20
  


obj1 = demo()
obj2 = demo()

# Days 2-

- How to fetch the property
- Syntax

class.poperties_name 

obj.name.property_name

In [1]:
class demo:
    a=10
    b=20
  


obj1 = demo()
obj2 = demo()

#Accessing property  by using class 
print(demo.a)
print(demo.b)

# Accessing property by using objects

print(obj1.a)
print(obj1.b)
print('='*15)
print(obj2.a)
print(obj2.b)

10
20
10
20
===============
10
20

- How to modify  the property

    - By using class

        - class_name.property = new_property

            (In this it will affect for all the objects )

- By using objects

    - syntax
        
        - objects.property = new property

            (In this it will affects the modification on the specific objects )

# Types of Properties/states/attributes/states/members/features--

There are two types of properties
1) class members- These are the members of the class which are same for all the objects
    - Example- schoolname,address,term&condition,principal

2) objects members- These are the property which are different for all the objects
    - Example- name,phonenumber,rollnumbers,adharcard,DOB.

In [12]:
class demo:
    a=10
    b=20

obj1 = demo()
obj2 = demo()

#Accessing property  by using class 
print(demo.a)
print(demo.b)

# Accessing property by using objects

print(obj1.a)
print(obj1.b)
print('='*15)
print(obj2.a)
print(obj2.b)
print('='*15)
# modifying the properties 
demo.a = True
print(demo.a)
print(obj1.a)
print(demo.a)
print('='*15)
# Modiying the objects

obj1.b = False

print(obj1.b)
print(obj1.a)
print(obj1.b)

10
20
10
20
===============
10
20
===============
True
True
True
===============
False
True
False

In [12]:
class school:
    school_name = "KNIPSS"
    school_address = "Shrilanka"
    principal_name = "jaychand"
obj1=school()
obj2=school()
obj3=school()


#Accessing property  by using class 
print(school.school_name)
print(school.school_address)
print('='*15)
#print(school.principal_name)

# Accessing property by using objects ---------

print(obj1.school_name)
print(obj1.school_address)
print(obj3.principal_name)

print('='*15)

print(obj2.school_name)
print(obj2.school_address)

# modifying the properties--------------- 
school.school_name = True
print(school.school_name)
print(obj1.school_name)
print(school.school_name)
print('='*15)

# Modiying the objects-----------------
obj1.school_address = False
obj1.principal_name = False

print(obj1.school_address)
print(obj1.school_name)
print(obj1.principal_name)

KNIPSS
Shrilanka
===============
KNIPSS
Shrilanka
jaychand
===============
KNIPSS
Shrilanka
True
True
True
===============
False
True
False

In [20]:
class School:
    school_name = "KNIPSS"
    school_address = "Shrilanka"
    principal_name = "Jaychand"

# Creating objects
obj1 = School()
obj2 = School()
obj3 = School()

# Accessing properties using CLASS
print("Access Using Class:")
print(School.school_name)       
print(School.school_address)
print(School.principal_name)
print("=" * 15)

# Accessing properties using OBJECTS

print("Access Using Object:")
print(obj1.school_name)
print(obj1.school_address)
print(obj3.principal_name)
print("=" * 20)

# Modifying CLASS properties

School.school_name = "New KNIPSS"

print("After Modifying Class Attribute:")
print(School.school_name)
print(obj1.school_name)   
print(obj2.school_name)   
print("=" * 20)

#  Modifying OBJECT properties
obj1.school_address = "Delhi"         
obj1.principal_name = "Mr. Rohit"

print("After Modifying Object Attribute:")
print(obj1.school_address)       
print(obj1.principal_name)       
print(obj2.school_address)       
print(obj3.principal_name)

Access Using Class:
KNIPSS
Shrilanka
Jaychand
===============
Access Using Object:
KNIPSS
Shrilanka
Jaychand
====================
After Modifying Class Attribute:
New KNIPSS
New KNIPSS
New KNIPSS
====================
After Modifying Object Attribute:
Delhi
Mr. Rohit
Shrilanka
Jaychand

In [ ]:
class school:
    schoolname = "Qspider Technology"
    addr = "Noida"
    Principal = "Mr.Akash"


s1= school()
s2=school()
s3=school()

# # accessing
# print(s3.schoolname)
# print(s3.addr)
# print(s2.Principal)
# print("=" * 20)

# # modify the property via class

# school.addr="Delhi"
# print(school.addr)
# print(s1.addr)
# print(s1.addr)
# print(s1.addr)
# print("=" * 20)

# Creating objects properties  
s1.sname="Ankit"
s1.addr="Ashok nagar"
s1.phono='7894561232'

print(s1.sname)
print(s1.addr)
print(s1.phono)
print("=" * 20)
#------------------------

s2.sname="Suraj"
s2.addr="panjab"
s2.phono='3216549878'

print(s2.sname)
print(s2.addr)
print(s2.phono)
print("=" * 20)

#------------------------

s3.sname="Anuj"
s3.addr="Sultanpur"
s3.phono='54658972154'

print(s3.sname)
print(s3.addr)
print(s3.phono)
print("=" * 20)
  
#===========or----------------
print("Second option to print  in one line")

print(s1.sname,s1.addr,s1.phono)
print(s2.sname,s2.addr,s2.phono)
print(s3.sname,s3.addr,s3.phono)

Ankit
Ashok nagar
7894561232
====================
Suraj
panjab
3216549878
====================
Anuj
Sultanpur
54658972154
====================
Second option to print  in one line
Ankit Ashok nagar 7894561232
Suraj panjab 3216549878
Anuj Sultanpur 54658972154


**function  vs method**
-  Function inside a class is known as method.

# constructure / _ _ init _ _ /  ----------------

- It is a special method which is use to initilaize the members of the objects 
- We  don't need to call this method outside the class, it is invoked at the time of objects creation.
- It takes a mandatory arguments self , which carries the address of the objects.
- Syntax
    -  def _ _ _init_ _ _(self.arg1,arg2,arg3,----,argn)
        - self.property1 = arg1
        - self.property2 = arg3
        -   ---
       - self.property = arg3

In [18]:
# constructor

class School:
    def __init__(self):
        print(id(self))
        print("Hello")
ob1 = School()
print(id(ob1))

2543226902512
Hello
2543226902512

In [22]:
class School:
    def __init__(self,a,b,c):
        self.sname = a
        self.addr=b
        self.phono=c
ob1 = School("Brenda","Wakanada","1234567890")
print(ob1.sname)
print(ob1.addr)
print(ob1.phono)

Brenda
Wakanada
1234567890

In [6]:
class Employee:
    def __init__(self, Eid, Ename, Eadd, Esal, Ephono):
        self.Eid = Eid
        self.Ename = Ename
        self.Eadd = Eadd
        self.Esal = Esal
        self.Ephono = Ephono

ob1 = Employee('101', 'Aman Sharma', 'Delhi', '12000', '123456784')

print(ob1.Eid)
print(ob1.Ename)
print(ob1.Eadd)
print(ob1.Esal)
print(ob1.Ephono)

101
Aman Sharma
Delhi
12000
123456784

In [7]:
class Employee:
    def __init__(self, Eid, Ename, Eadd, Esal, Ephono):
        self.Eid = Eid
        self.Ename = Ename
        self.Eadd = Eadd
        self.Esal = Esal
        self.Ephono = Ephono

ob1 = Employee('101', 'Aman Sharma', 'Delhi', '12000', '123456784')

print(ob1.Eid, ob1.Ename, ob1.Eadd, ob1.Esal, ob1.Ephono)

101 Aman Sharma Delhi 12000 123456784

In [ ]:
class Employee:
    def __init__(self, Eid, Ename, Eadd, Esal, Ephono):
        self.Eid = Eid
        self.Ename = Ename
        self.Eadd = Eadd
        self.Esal = Esal
        self.Ephono = Ephono

# user input
eid = input("Enter Employee ID: ")
ename = input("Enter Employee Name: ")
eadd = input("Enter Employee Address: ")
esal = input("Enter Employee Salary: ")
ephono = input("Enter Employee Phone No: ")

ob1 = Employee(eid, ename, eadd, esal, ephono)

#one line output
print(ob1.Eid, ob1.Ename, ob1.Eadd, ob1.Esal, ob1.Ephono)

789 adsf asdsdsa 456s 897654123

In [13]:
class Employee:
    def __init__(self):
        self.eid = input("Enter the emp id: ")
        self.ename = input("Enter the emp name: ")
        self.phone = int(input("Enter the emp phone: "))
        self.salary = int(input("Enter the emp salary: "))
        self.addr = input("Enter the emp address: ")
        self.adharno = int(input("Enter the emp adhar no: "))

        print("Employee is registered successfully...")

# Object create
e1 = Employee()

# Print in one line
print(e1.eid, e1.ename, e1.phone, e1.salary, e1.addr, e1.adharno)

Employee is registered successfully...
101 Ankit verma 12345678910 123000 sultanpur 421572389172

In [17]:
a = 10
print(f"The value of a is {a}")

The value of a is 10

In [19]:
class Employee:
    def __init__(self):
        self.eid = input("Enter the emp id: ")
        self.ename = input("Enter the emp name: ")
        self.phone = int(input("Enter the emp phone: "))
        self.salary = int(input("Enter the emp salary: "))
        self.addr = input("Enter the emp address: ")
        self.adharno = int(input("Enter the emp adhar no: "))

        print(f"Employee with name {self.ename }is registered successfully...")

# Object create
e1 = Employee()

# Print in one line
#print(e1.eid, e1.ename, e1.phone, e1.salary, e1.addr, e1.adharno)

Employee with name surajis registered successfully...

In [ ]:
class Employee:
    def __init__(self, eid, ename, eadd, esal, ephono):
        self.eid = eid
        self.ename = ename
        self.eadd = eadd
        self.esal = esal
        self.ephono = ephono

        print(f"Employee with name {self.ename} is registered successfully...")


# Creating objects =======
e1 = Employee("E001", 'Ankit Verma', 'Sultanpur', 133323, '9999999999')
e2 = Employee("E002", 'Aman Sharma', 'Delhi', 15000, '8888888888')
e3 = Employee("E003", 'Rahul Singh', 'Lucknow', 18000, '7777777777')

#Store  in set =====
emp_list = {e1, e2, e3}

# Print in one line++++++++++++++++++++++++++
for emp in emp_list:
    print(emp.eid, emp.ename, emp.eadd, emp.esal, emp.ephono)

Employee with name Ankit Verma is registered successfully...
Employee with name Aman Sharma is registered successfully...
Employee with name Rahul Singh is registered successfully...
E003 Rahul Singh Lucknow 18000 7777777777
E002 Aman Sharma Delhi 15000 8888888888
E001 Ankit Verma Sultanpur 133323 9999999999

In [ ]:
class Showroom:
    def __init__(self, sid, sname, saddress, product_type, price, contact):
        self.sid = sid
        self.sname = sname
        self.saddress = saddress
        self.product_type = product_type
        self.price = price
        self.contact = contact


# Creating Showroom Objects----------------------------
s1 = Showroom("1001", "Ankit Motors", "Sultanpur", "Bikes", "200000", "87954561322")
s2 = Showroom("1002", "Aman Electronics", "Delhi", "Mobiles", "150000", "2315648975")
s3 = Showroom("1003", "Rahul Furniture", "Lucknow", "Furniture", "80000", "6548973215")


def show_details(showroom):

    print(showroom.sid,showroom.sname,showroom.saddress,showroom.product_type,showroom.price,showroom.contact)


# Displaying Showroom Details---------------------------------

show_details(s1)
show_details(s2)
#show_details(s2)
show_details(s3)

1001 Ankit Motors Sultanpur Bikes 200000 87954561322
1002 Aman Electronics Delhi Mobiles 150000 2315648975
1003 Rahul Furniture Lucknow Furniture 80000 6548973215

In [ ]:
class Employee:
    def __init__(self, eid, ename, eadd, esal, ephono):
        self.eid = eid
        self.ename = ename
        self.eadd = eadd
        self.esal = esal
        self.ephono = ephono

        #print(f"Employee with name {self.ename} is registered successfully...")


# Creating objects =======
e1 = Employee("E001", 'Ankit Verma', 'Sultanpur', 133323, '9999999999')
e2 = Employee("E002", 'Aman Sharma', 'Delhi', 15000, '8888888888')
e3 = Employee("E003", 'Rahul Singh', 'Lucknow', 18000, '7777777777')

def show_details(emp):
    print(emp.ename,emp.esal,emp.eadd,emp.ephono)

show_details(e1)
show_details(e2)
show_details(e3)